#!/bin/bash

# Automatically sets up your mise environment whenever you cd into this
# directory via direnv integration:

eval "$(mise activate bash)"

# check out https://mise.jdx.dev/direnv.html
# for more details
