body {
    background-color: #0d0d0d;
    color: #aaffaa;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    font-family: 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1a1a1a;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #99ff99;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

.wrapper {
    margin: auto;
}
ul.card-container {
    list-style-type: none; /* Remove default list style */
    padding: 0;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    li {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #1a1a1a;
        border-radius: 5px;
        transition: background-color 0.3s;
        width: 150px;
        max-height: 200px;
        margin-right: 8px;
        margin-bottom: 8px;
        overflow: hidden;

        .entry-title {
            font-size: 0.9em;
            word-break: break-all;
            display: block;
        }

        .published-date {
            font-size: 0.7em;
            color: #666;
            word-break: keep-all;
            margin-top: auto;
            text-align: right;
        }

        .entry-head {
            justify-content: space-between; /* Align items to the ends */
            align-items: center;
        }

        .entry-image {
            max-width: 100%;
            max-height: 150px;
            border-radius: 5px;
        }

        .entry-text-preview {
            font-size: 60%;
        }

        &:hover {
            background-color: #444;
        }
    }

    a {
        color: #99ff99;
        text-decoration: none;
        font-size: 1.2em;
        width: 100%;
    }
}

.pager {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
    clear: both;

    a {
        color: #99ff99;
        text-decoration: none;
        font-size: 1.2em;
        background-color: #555;
        padding: 5px 10px;
        border-radius: 4px;
    }
}

.entry-content-detail {
    max-width: 800px;
    margin: auto;
    padding: 20px;

    h1 {
        color: #99ff99;
        text-align: center;
        margin-top: 20px;
    }

    p {
        margin: 20px;
        line-height: 1.6;
    }

    /* 基本的なリンクスタイルの改善 */
    a {
        color: #00ff00; /* より明るい緑色 */
        text-decoration: underline; /* 下線を追加 */
        transition: all 0.3s ease; /* スムーズな遷移効果 */
        /* ホバー時の効果を強化 */
        &:hover {
            color: #ffffff; /* ホバー時に白色に変更 */
            text-decoration: underline; /* 下線を維持 */
            text-shadow: 0 0 5px #00ff00; /* 緑色の光る効果を追加 */
        }
    }

    .asin {
        background-color: #555;
        border-radius: 4px;
    }

    .published {
        text-align: right;
        font-size: 0.8em;
        color: #666;
    }

    blockquote {
        background-color: #1a1a1a; /* 背景色を少し明るくする */
        border-left: 4px solid #66ff66; /* 左側にアクセントのボーダーを追加 */
        color: #aaffaa; /* 文字色を少し落ち着いた緑に */
        margin: 20px 0; /* 上下のマージンを追加 */
        padding: 10px 20px; /* 内側のパディングを追加 */
        font-style: italic; /* 斜体で引用を強調 */
        border-radius: 5px; /* 角を丸くする */
    }

    blockquote p {
        margin: 0; /* 内部の段落のマージンをリセット */
    }

    img {
        max-width: 100%;
    }

    pre {
        padding: 8px;
        border-radius: 8px;
        background-color: #f4f4f4;
        color: #333;
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1a1a1a;
    color: #99ff99;
    width: 100%;
}
