.container {
	padding: 1rem;
	margin: 0 auto;
	max-width: 1200px;
}

.loadingMessage {
	margin-top: 1rem;
	text-align: center;
	color: #6b7280;
}

.entryList {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	gap: 1rem;
	justify-content: flex-start;
	max-width: 1200px;
}
