<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://blog.64p.org/feed">
    <link rel="stylesheet" type="text/css" href="/static/main.css?1">
    <meta charset="UTF-8">
    <title>{{.Title}} - tokuhirom's blog</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9032322815824634" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N48P264GB5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-N48P264GB5');
    </script>
</head>
<body>
<nav>
    <a href="/">tokuhirom's blog</a>
</nav>
<div class="entry-content-detail">
    <h1 class="entry-title">{{.Title}}</h1>
    <p>{{.Body}}</p>
    <p class="published">Published: {{.PublishedAt}}</p>
    {{if .HasRelatedEntries}}
    <div class="related-entries">
        <h2>Related Entries</h2>
        <ul>
            {{range .RelatedEntries}}
            <li><a href="/entry/{{.Path}}">{{.Title}}</a></li>
            {{end}}
        </ul>
    </div>
    {{end}}
</div>
<footer>
    &copy; tokuhirom
</footer>
</body>
</html>
