<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>tokuhirom's blog</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css?2">
    <style>
    </style>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://blog.64p.org/feed">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9032322815824634" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N48P264GB5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-N48P264GB5');
    </script>
</head>
<body>
<nav>
    <a href="/">tokuhirom's blog</a>
</nav>
<div class="wrapper">
    <ul class="card-container">
        {{range $path, $entry := .Entries}}
        <li class="card">
            <div class="entry-head">
                <a href="/entry/{{$entry.Path}}" class="entry-title">
                    {{$entry.Title}}
                </a>
            </div>
            {{if $entry.ImageUrl}}
            <div>
                <a href="/entry/{{$entry.Path}}">
                <img src="{{$entry.ImageUrl}}" class="entry-image" alt="{{$entry.Title}}">
                </a>
            </div>
            {{else}}
            <div class="entry-text-preview"><a href="/entry/{{$entry.Path}}">{{$entry.TextPreview}}</a></div>
            {{end}}
            <a href="/entry/{{$entry.Path}}" class="published-date">
                {{$entry.PublishedAt}}
            </a>
        </li>
        {{end}}
    </ul>
    <div class="pager">
        <div class="prev">
            {{if .HasPrev}}
            <a href="/?page={{.Prev}}">Prev</a>
            {{else}}
            Prev
            {{end}}
        </div>
        <div class="next">
            {{if .HasNext}}
            <a href="/?page={{.Next}}">Next</a>
            {{else}}
            Next
            {{end}}
        </div>
    </div>
</div>
<footer>
    &copy; tokuhirom
</footer>
</body>
</html>
