name: Publish Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: tokuhirom.sakuracr.jp
          username: ${{ vars.SAKURA_REGISTRY_USERNAME }}
          password: ${{ secrets.SAKURA_REGISTRY_PASSWORD }}

      - name: Extract GIT_HASH
        id: vars
        run: echo "GIT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: .
          push: true
          tags: tokuhirom.sakuracr.jp/blog4:${{ env.GIT_HASH }}
          build-args: |
            GIT_HASH=${{ env.GIT_HASH }}

      - name: Deploy
        uses: ./.github/actions/deploy-apprun
        with:
          token_id: ${{ secrets.SACLOUD_API_TOKEN_ID }}
          token_secret: ${{ secrets.SAKURA_API_TOKEN_SECRET }}
          app_id: ${{ vars.APPRUN_APP_ID }}
          image: tokuhirom.sakuracr.jp/blog4:${{ env.GIT_HASH }}
