name: Publish Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: tokuhirom.sakuracr.jp
          username: ${{ vars.SAKURA_REGISTRY_USERNAME }}
          password: ${{ secrets.SAKURA_REGISTRY_PASSWORD }}

      - name: Extract GIT_HASH
        id: vars
        run: echo "GIT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          push: true
          tags: tokuhirom.sakuracr.jp/blog4:${{ env.GIT_HASH }}
          build-args: |
            GIT_HASH=${{ env.GIT_HASH }}

      - name: Deploy
        uses: ./.github/actions/deploy-apprun
        with:
          token_id: ${{ secrets.SACLOUD_API_TOKEN_ID }}
          token_secret: ${{ secrets.SAKURA_API_TOKEN_SECRET }}
          app_id: ${{ vars.APPRUN_APP_ID }}
          image: tokuhirom.sakuracr.jp/blog4:${{ env.GIT_HASH }}
